.feed-action__button-start,
.feed-action__button-end {
  background-color: #4c975e;
}

.feed-action__button-start:hover:not(:disabled),
.feed-action__button-end:hover:not(:disabled) {
  background-color: #218838;
}

.feed-action__button-cancel {
  background-color: #b9434e;
}

.feed-action__button-cancel:hover:not(:disabled) {
  background-color: #c82333;
}
