.feed-action__button-start,
.feed-action__button-end {
  background-color: #ff6b9d;
}

.feed-action__button-start:hover:not(:disabled),
.feed-action__button-end:hover:not(:disabled) {
  background-color: #e55a8a;
}

.feed-action__button-cancel {
  background-color: #b9434e;
}

.feed-action__button-cancel:hover:not(:disabled) {
  background-color: #c82333;
}
