.feed-action__button-start,
.feed-action__button-end {
  background-color: var(--color-action-feed);
}

.feed-action__button-start:hover:not(:disabled),
.feed-action__button-end:hover:not(:disabled) {
  background-color: var(--color-action-feed);
}

.feed-action__button-cancel {
  background-color: var(--color-error);
}

.feed-action__button-cancel:hover:not(:disabled) {
  background-color: var(--color-error-dark);
}
