.sleep-action__button-start,
.sleep-action__button-end {
  background-color: #17a2b8;
}

.sleep-action__button-start:hover:not(:disabled),
.sleep-action__button-end:hover:not(:disabled) {
  background-color: #138496;
}

.sleep-action__button-cancel {
  background-color: #b9434e;
}

.sleep-action__button-cancel:hover:not(:disabled) {
  background-color: #c82333;
}
