.sleep-action__button-start,
.sleep-action__button-end {
  background-color: var(--color-action-sleep);
}

.sleep-action__button-start:hover:not(:disabled),
.sleep-action__button-end:hover:not(:disabled) {
  background-color: var(--color-action-sleep-hover);
}

.sleep-action__button-cancel {
  background-color: var(--color-error);
}

.sleep-action__button-cancel:hover:not(:disabled) {
  background-color: var(--color-error-dark);
}
