.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.spinner__ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  animation: spinner-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner__ring:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner__ring:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner__ring:nth-child(3) {
  animation-delay: -0.15s;
}

.spinner--small {
  width: 1.5rem;
  height: 1.5rem;
}

.spinner--small .spinner__ring {
  border-width: 2px;
}

.spinner--medium {
  width: 2.5rem;
  height: 2.5rem;
}

.spinner--medium .spinner__ring {
  border-width: 3px;
}

.spinner--large {
  width: 3.5rem;
  height: 3.5rem;
}

.spinner--large .spinner__ring {
  border-width: 4px;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
